.nav-item{
  margin-right: 1em;
}
.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.dark-theme {
  background-color: #2d2727;
  color: white;
}

.dark-theme .btn {
  color: white !important;
}
.dark-theme .link-body-emphasis {
  color: white !important;
}
.dark-theme .text-body-emphasis {
  color: white !important;
}
.button {
  background: linear-gradient(140.14deg, #ec540e 15.05%, #d6361f 114.99%)
      padding-box,
    linear-gradient(142.51deg, #ff9465 8.65%, #af1905 88.82%) border-box;
  border-radius: 7px;
  border: 2px solid transparent;

  text-shadow: 1px 1px 1px #00000040;
  box-shadow: 8px 8px 20px 0px #45090059;

  padding: 10px 40px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.button:hover {
  box-shadow: none;
  opacity: 80%;
}
